<div class="col s12">
  <a href="/activity/{{id}}"><div class="card">
      <div class="card-content">
        <span class="card-title">{{title}}</span>
        <p>{{format_date occurrence}}, {{format_time occurrence}}</p>
        <div>
          {{attendance_count}}/{{seats}}
          <i class="material-icons">person</i></div>
      </div>
    </div>
  </a>
</div>