<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">
        {{description}}</br>
        {{location}}</br>
        {{occurrence}}</br>
        {{seats}} available seats</br>
        Rules: {{rules}}</br>
        ${{price}} per person</br>
        {{req_dietary_pref}}</br>
        {{interest}}</br>
        </p>
      <a id="" class="btn btn-primary">Observe</a>
    </div>
  </div>
</div>