{{! Need to format with Materialize once code is more advanced }}

<div class="card">
    <div class="title">
        {{title}}
    </div>
    <div class="meta">
        {{description}}</br>
        {{location}}</br>
        {{occurrence}}</br>
        {{seats}} available seats</br>
        Rules: {{rules}}</br>
        ${{price}} per person</br>
        {{req_dietary_pref}}</br>
        {{interest}}</br>
    </div>
</div>