<!-- add edit feature-->

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{activity.title}}</span>
          <p>{{activity.description}}</p>
          <p>{{activity.location}}</p>
          <p>{{activity.user.username}}</p>
        </div>
        <div class="card-action">
          {{#if (is_organizer user_id activity.user.id)}}
            <a id="editButton" class="btn">Edit</a>
            <a id="deleteButton" class="btn">Delete</a>
          {{else}}
            <a class="btn" href="#">Attend</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>
        {{! confirm attendance }}
      </h4>
      <p></p>
    </div>
    <div class="modal-footer">
      <a
        href="#!"
        class="modal-action modal-close waves-effect waves-green btn-flat"
      >Attend</a>
    </div>
  </div>
</div>
<!-- TODO: add attendee-->
<div class="container">
</div>