<!-- add edit feature-->

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{activity.title}}</span>
          <p>{{activity.description}}</p>
          <p>{{activity.location}}</p>
          <p>{{activity.user.username}}</p>
        </div>
        <div class="card-action">
          {{#if (is_organizer user_id activity.user.id)}}
            <a
              id="editButton"
              href="/activity/{{activity.id}}/edit"
              class="btn"
            >Edit</a>
            <button
              id="deleteButton"
              class="btn modal-trigger"
              data-target="confirm-delete-modal"
            >Delete</button>
            <button
              id="inviteButton"
              class="btn modal-trigger"
              data-target="inviteModal"
            >Invite</button>
          {{else}}
            <a class="btn" href="#">Attend</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <!-- Confirm Delete Modal -->
  <div id="confirm-delete-modal" class="modal">
    <div class="modal-content">
      <h4>Confirm Deleting Activity</h4>
      <p>Are you sure you want to delete activity "{{activity.title}}"?</p>
    </div>
    <div class="modal-footer">
      <a
        id="confirmDeleteButton"
        class="modal-close waves-effect waves-red btn red"
      >Delete</a>
      <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

  <!-- Invite Modal -->
  <div id="inviteModal" class="modal">
    <div class="modal-content" style="min-height: 50vh;">
      <h4>Invite Friends</h4>
      <form id="inviteForm">
        <div class="input-field col s12">
          <select id="inviteSelect" multiple>
            <option value="" disabled selected>Select people to invite</option>
          </select>
          <label>Invitees</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a
        id="sendInvitationsButton"
        class="modal-close waves-effect waves-green btn-flat"
      >Send</a>
      <a class="modal-close waves-effect red white-text btn-flat">Cancel</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>
        {{! confirm attendance }}
      </h4>
      <p></p>
    </div>
    <div class="modal-footer">
      <a
        href="#!"
        class="modal-action modal-close waves-effect waves-green btn-flat"
      >Attend</a>
    </div>
  </div>
</div>
<!-- TODO: add attendee-->
<div class="container">
</div>

{{#if (is_organizer user_id activity.user.id)}}
  <script src="/javascript/delete-activity.js"></script>
  <script src="/javascript/invite.js"></script>
{{/if}}